.CardContainer {
  margin: 10px;
  border: 1px solid greenyellow;
  background-color: antiquewhite;
  padding: 5px;
  width: 250;
  display: flex;
  flex-direction: column;
}

.CardContainer > ul {
  padding: 0;
}

.CardContainer > ul > li {
  list-style: none;
}
